body {
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

/* Custom .mapboxgl-popup styling */
.mapboxgl-popup {
  max-width: 400px;
  font: 12px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.mapboxgl-popup-content {
  padding: 15px;
  border-radius: 5px;
}

.mapboxgl-popup-content h3 {
  margin: 0 0 10px 0;
  color: #b42222;
}

.mapboxgl-popup-content p {
  margin: 0;
}

/* left-panel on student map */

#instructions {
  position: absolute;
  margin: 20px;
  width: 15%;
  top: 0;
  bottom: 20%;
  padding: 20px;
  background-color: #fff;
  overflow-y: scroll;
  font-family: "Manrope", sans-serif;
}

#instructions #prompt,
#instructions p:nth-child(2) {
  font-weight: 800;
}

/* // <weight>: Use a value from 200 to 800
// <uniquifier>: Use a unique and descriptive class name

/* .manrope-<uniquifier> {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  } */
